@font-face {
  font-family: "TT Hoves Pro";
  src: url("../fonts/tt-hoves-pro/TT-Hoves-Pro-Trial-Regular.woff2") format("woff2"),
       url("../fonts/tt-hoves-pro/TT-Hoves-Pro-Trial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves Pro";
  src: url("../fonts/tt-hoves-pro/TT-Hoves-Pro-Trial-Medium.woff2") format("woff2"),
       url("../fonts/tt-hoves-pro/TT-Hoves-Pro-Trial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

html, body, .scrollbar {
  scrollbar-width: thin;
}

@theme {
    --font-sans: "TT Hoves Pro", sans-serif;
    --color-background: #261F27;
    --color-foreground: #FAFAFC;
    --color-primary: #5A5AFA;
    
    --breakpoint-3xl: 1920px;
    --breakpoint-2xl: 1536px;
    --breakpoint-xl: 1280px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    /* Container Settings */
    --container-max-width: 1760px;
    --container-padding: 40px;
    --container-padding-3xl: 40px;
    --container-padding-md: 20px;
}
 

@layer components {
  [x-clock] {
    @apply hidden;
  }

 .container {
   @apply mx-auto w-full !max-w-[var(--container-max-width)] px-[var(--container-padding)] max-3xl:px-[var(--container-padding-3xl)] max-md:px-[var(--container-padding-md)];
 }
 .title {
  @apply text-[55px] md:text-[68px] lg:text-[90px] xl:text-[105px] leading-[1.2] md:leading-[1.16]
 }

 h2, .h2 {
  @apply text-[40px] md:text-[50px] lg:text-[60px] xl:text-[75px] leading-[1.17]
 }

 h3, .h3 {
  @apply text-[32px] md:text-[36px] lg:text-[40px] xl:text-[45px] leading-none
 }


 h4, .h4 {
  @apply text-[22px] md:text-[26px] lg:text-[30px] leading-[1.2]
 }

 h5, .h5 {
  @apply text-lg md:text-xl lg:text-[22px] leading-[1.2]
 }


 p, .p {
  @apply text-lg leading-[1.42]
 }

 .number {
  @apply text-[44px] md:text-[56px] lg:text-[64px] xl:text-[75px] 3xl:text-[80px] leading-normal font-medium whitespace-nowrap
 }



}

.c-ease-in-out {
  transition-timing-function:cubic-bezier(0.86, 0, 0.14, 0.98)
 }


 


 
 